body {
    font-family: Arial, sans-serif;
    background: #eaf7f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    color: #16856b;
}

p {
    color: #555;
}